* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


.header_container_Title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    height: 60px;
    width: 100%;
    min-width: 320px;
    text-align: center;
}

body {
    background-color: #F2F3F5;
}

.container_categorias {
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 320px;
}
.categorias {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 155px;
    height: 155px;
    border-radius: 5px;
}

.categorias .foto_perfil_Rehabitar {
    background-image: url('./img/fotoCata.png');
    width: 50%;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container_titulo_categorias {
    position: relative;
    top: 25px;
    width: 50%;
    height: 10px;
}

.container_info {
    position: relative;
    left: 10px;
    bottom: 10px;
    width: 93%;
    font-size: 1.2rem;

}

